body{
    background-color: grey;
}
#firstRow{
    background-color: aqua;
}
#secondRow{
    background-color: salmon;
    font-size: 60px;
}
.row{
    margin: 50px;
    height: 400px;
    border-radius: 50px;
    text-align: center;
}
.nav-wrapper{
    background: salmon;
}
.modal{
    background-color: pink !important;

}
.btn{
    background-color: blue !important;
    left: 800px;
    top: 185px;
    
    
}
.img{
    height: 500px;
}
